.background {
  float: right;
  height: 0;
  top: 0px;
  position: absolute;
  right: 0;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
}

img {
  height: 100vh;
}

body {
  max-width: 100vw;
  max-height: 100vh;
}

h1 {
  color: #EDDBDC;
  padding-left: 160px;
}

.texto {
  color: #262021;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header {
  position: absolute;
  background-color: black;
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  text-align: center;
  width: 33%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  justify-content: center;
}

.contained {
  width: 160px;
  height: 42px;
  border-radius: 30px;
  background-color: #262021;
  color: white;
}

.outlined {
  background-color: transparent;
  width: 160px;
  height: 42px;
  border-radius: 30px;
}

.container-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-home{
color: #fff;
width: 52px;
height: 52px;
font-size: 52px;
margin-right: 40px;
}
