@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-size: 62.5%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #8284fa;
  --primary-dark: #5e60ce;
  --secondary: #4ea8de;
  --secondary-dark: #1e6f9f;
  --disabled-color: #6c6c6c;

  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;

  --danger: #e25858;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: var(--primary-color);
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: var(--gray-600);
  height: 100vh;
  height: 100dvh;
}

header {
  background-color: var(--gray-700);
  color: var(--secondary);
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  height: 20rem;
  font-weight: 900;
  font-size: 4rem;
}

header img {
  width: 2.2rem;
  height: 3.6rem;
}

header > p > span {
  color: var(--primary-dark);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 769px;
  margin: 0 auto;
}

main .lucide-plus-circle {
  width: 1.6rem;
  height: 1.6rem;
}

main #newTask {
  gap: 0.8rem;
  display: flex;
  width: 100%;
  translate: 0 -50%;
}

#newTask > input {
  background-color: var(--gray-500);
  color: var(--gray-300);
  height: 5.4rem;
  flex-grow: 9;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
}

#newTask > button {
  background-color: var(--secondary-dark);
  height: 5.2rem;
  flex-grow: 1;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
